.Wrapper {
    display: flex;
    flex-direction: column;
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyCFzX1PdsrTgT38XvZ_Kp-zSNlh2RwGYmxg&usqp=CAU");
    display: flex;  
    position: static;
    align-items: center;
    width: 100%;
    height: 150px;
    color: var(--text-color-light);
    position: fixed;

    @media screen and (max-width: 704px) {
        flex-direction: column;
        padding-bottom: 20px;;
    }
}

.WebDevelopmentTitle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: white solid;
    border-left: white solid;
    border-bottom: white solid;

    @media screen and (max-width: 704px) {
        border: none;
    }
}

.HeaderRight {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border: white solid;

    @media screen and (max-width: 704px) {
        border: none;
        font-size: 13px;
    }
   
}

.Author {
    font-size: 15px;
}

.icon {
    width: 18px;
    height: 18px;
}

.WhiteLink {
    padding-left: 5px;
    color: var(--text-color-light);
    text-decoration: underline;
}

.WhiteLink:hover {
    color: #C4C5BA;
}


.MainContent {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}


.Summary {
    padding-top: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding-bottom: 35px;
    color: var(--text-color-light);

    @media screen and (max-width: 704px) {
        display: flex;
        flex-direction: column;
        font-size: 11px;
    }
}
.SummaryLinks {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: white solid;
    @media screen and (max-width: 704px) {
        border-right: none;
        border-bottom: white solid;
        padding-bottom: 25px;
    }

}

.SummaryLink {
    
}


.Observation {
    width: 100vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

    @media screen and (max-width: 704px) {
        width: 100%;
        padding-top: 25px;
        padding-right: 5px;
        font-size: 15px;
    }
}

.TextContent {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Section {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    background-color: black;
    color: white;
}
