.Wrapper {
    display: flex;
    flex-direction: column;
    
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    padding-bottom: 10px;
}

.Header {
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    display: flex;  
    position: static;
    align-items: center;
    width: 100%;
    height: 150px;
    color: var(--text-color-light);
    
    @media screen and (max-width: 845px) {
        height: 200px;
        flex-direction: column;
        padding-bottom: 20px;;
    }
}

.WebDevelopmentTitle {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: white solid;

    @media screen and (max-width: 845px) {
        border: none;
        font-size: 15px;;
    }
}

.HeaderRight {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    position: sticky;
    border-bottom: white solid;
    border-left: white solid;
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

    @media screen and (max-width: 845px) {
        border: none;
        font-size: 13px;
    }
   
}

.RocketImg {
    transition-duration: 2s;  
    width: 110px;
    @media screen and (max-width: 845px) {
        width: 50px;
    }
}

.RocketImg:hover {
    width: 115px;
    position: relative;
    margin-left: 250px;
    transition-duration: 4s;    
    transition-timing-function: cubic-bezier(1, 0.6, 0.07, 1);
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);

 
    @media screen and (max-width: 845px) {
        width: 50px;
        position: absolute;
    }
}

.Meimg {
    width: 73px;
    border-radius: 800px;
}

.Author {
    font-size: 15px;
}

.icon {
    width: 18px;
    height: 18px;
}

.WhiteLink {
    padding-left: 5px;
    color: var(--text-color-light);
    text-decoration: underline;
}

.WhiteLink:hover {
    color: #C4C5BA;
}


.MainContent {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}


.Summary {
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#000000;
    color: var(--text-color-light);
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

    @media screen and (max-width: 845px) {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        border-top: white solid;
    }
}
.SummaryLinks {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: white solid;
    @media screen and (max-width: 845px) {
        border-right: none;
        border-bottom: white solid;
        padding-bottom: 25px;
    }

}

.Observation {
    width: 100vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

    @media screen and (max-width: 845px) {
        width: 100%;
        padding-top: 25px;
        padding-right: 5px;
        font-size: 15px;
    }
}

.TextContent {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: var(--text-color-light);
}

.Introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-top: white solid;
    border-left: white solid;
    border-right: white solid;
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.Sides {
    display: flex;
    flex-direction: row;
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    @media screen and (max-width: 845px) {
        flex-direction: column;
    }
}

.LeftSide {
    display: flex;
    flex-direction: column;
    border-left: white solid;
    border-right: white solid;
    width: 50%;
    height: 100%;
    @media screen and (max-width: 845px) {
        width: 100%;
    }
}

.RightSide {
    display: flex;
    flex-direction: column;
    border-right: white solid;
    width: 50%;
    @media screen and (max-width: 845px) {
        border-left: white solid;
        width: 100%;
    }
}

.Section {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    border-top: white solid;
}

.Footer {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    border-top: white solid;
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.Contatcs {
    display: flex;
    justify-content: center;
}
