:root {
    font-size: 62.5%;
    --standart-padding: 2.0rem;

    /* fonts type*/
    --title-font: 'Poppins', sans-serif;
    --text-font: 'DM Sans', sans-serif;

    /* fonts size */
    --title-font-size: 3.0rem;
    --text-font-size: 1.6rem;

    /* colors */
    --hue: 100;
    /* HSL color mode */
    --base-color-one: hsl(var(--hue) 36% 57%);
    --base-color-two: hsl(var(--hue) 65% 88%);
    --base-color-three: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --background-color: hsl(0 0% 98%);
}

body {
    font: 400 var(--text-font-size) var(--text-font);
    color: var(--text-color);
    background: var(---background-color);
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
}